*.o
*.obj
*.lib
*.a
*.dll
*.exe
*.*~

build
.vscode
common/bin/*
!common/bin/TestData
projects/CMake/targets/*/build/*
projects/CMake/targets/*/*_log.*
ProjectGenerator_Log.txt
dependencies/android-ndk-r21d/
projects/Android/obj/
projects/Android/libs/
projects/k3s/github/vanvelzen-github-runner-base-latest.tar
projects/k3s/github/github_runner_auth.yaml
projects/k3s/metrics/statsite
.vs/slnx.sqlite
tools/Kaitai/kaitai-struct-compiler*.deb
.vs/
patch.diff
Project.xml
scripts/symlinks/gucefCOM_create_symlinks.bat
scripts/symlinks/gucefCOMCORE_create_symlinks.bat
scripts/symlinks/gucefCORE_create_symlinks.bat
scripts/symlinks/gucefDRN_create_symlinks.bat
scripts/symlinks/gucefGUI_create_symlinks.bat
scripts/symlinks/gucefHeaders_create_symlinks.bat
scripts/symlinks/gucefIMAGE_create_symlinks.bat
scripts/symlinks/gucefINPUT_create_symlinks.bat
scripts/symlinks/gucefKAITAI_create_symlinks.bat
scripts/symlinks/gucefLOADER_create_symlinks.bat
scripts/symlinks/gucefMATH_create_symlinks.bat
scripts/symlinks/gucefMT_create_symlinks.bat
scripts/symlinks/gucefMULTIPLAY_create_symlinks.bat
scripts/symlinks/gucefPATCHER_create_symlinks.bat
scripts/symlinks/gucefPRODMAN_create_symlinks.bat
scripts/symlinks/gucefPUBSUB_create_symlinks.bat
scripts/symlinks/gucefSMDRN_create_symlinks.bat
scripts/symlinks/gucefVFS_create_symlinks.bat
scripts/symlinks/gucefWEB_create_symlinks.bat
projects/k3s/host-node/local-path-config-updated.json
projects/k3s/host-node/local-path-config-backup.json
projects/k3s/jenkins/initialAdminPassword
projects/k3s/jenkins/vanvelzen-jenkins-server-base-latest.tar
projects/k3s/jenkins/jenkins-cli.jar
projects/k3s/jenkins/CICD_USER_NAME.txt
projects/k3s/jenkins/CICD_USER_PASS.txt
projects/k3s/jenkins/CICD_USER_TOKEN.txt

projects/k3s/longhorn/longhorn-disks.yaml

projects/k3s/gucef_dev/vanvelzen-github-gucef-dev-base-latest.tar
