*.o
*.obj
*.lib
*.a
*.dll
*.exe
*.*~

build
.vscode
common/bin/*
!common/bin/TestData
projects/CMake/targets/*/build/*
projects/CMake/targets/*/*_log.*
ProjectGenerator_Log.txt
dependencies/android-ndk-r21d/
projects/Android/obj/
projects/Android/libs/
projects/k3s/github/vanvelzen-github-runner-base-latest.tar
.vs/slnx.sqlite

tools/Kaitai/kaitai-struct-compiler_0.10_all.deb
.vs/
patch.diff
